{
  "mcpServers": {
    "{{ project_name }}": {
      "command": "uv",
      "args": [
        "run",
        "--project",
        ".",
        "python",
        "-m",
        "{{ package_name }}.presentation.mcp"
      ],
      "type": "stdio"
    }
  }
}
